@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lorem ipsum dorime, ameno, something or other...</p>
</div>

<div class="circle"></div>