@model Medik.Models.MedDocumentation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MedDocumentation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select> *@
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" type="hidden" class="form-control" value="@ViewBag.Patient?.Id" readonly />
                <input type="text" class="form-control" value="@ViewBag.Patient?.FullName" readonly />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartIllness" class="control-label"></label>
                <input asp-for="StartIllness" class="form-control" />
                <span asp-validation-for="StartIllness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndIllness" class="control-label"></label>
                <input asp-for="EndIllness" class="form-control" />
                <span asp-validation-for="EndIllness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-3" />
                <a asp-action="Details" asp-controller="Patient" asp-route-id="@ViewBag.Patient?.Id" class="btn btn-secondary mt-3">Back to Patient</a>
                <a asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
